{% extends 'default.html.twig' %}


    {% block main%}
    <div class="bg-body-secondary p-5 rounded">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Заголовок</label>
                <p>{{ post.title }}</p>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                <p>{{ post.body }}</p>
            </div>
    </div>
    {% endblock %}